
{% extends 'layout.html' %}
{% block content %}
<div class = "m-5">

    <form action = '/login' method = 'POST' style = 'width:500px'>  
        {{ form.hidden_tag() }}
        <div class = "form-group">
            {{ form.email.label }}
            {{ form.email(class="form-control") }}
                {% for error in form.email.errors %}
                    <ul class = "text-danger">
                        <li> {{ error }}</li>
                    </ul>
                {% endfor %}
        </div><br>
        <div class = "form-group"> 
            {{ form.password.label }}
            {{ form.password(class="form-control") }}
        </div><br>
        <input type="submit" value="Login" class="btn btn-dark" >
    </form>
</div>
{% endblock content %}